<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gym-app</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script type="module" crossorigin src="./static/index.e6e2fa22.js"></script>
    <link rel="stylesheet" href="./static/index.88dd6faf.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
